.relativity
{
  position: relative;
}

.location
{
  z-index: 1;
}

.location.free
{
  display: flex;
}

/* stack bottom */
.location.free > * > .piece
{
  position: absolute !important;
}
.location.free > * > .unfolded.piece
{
  border: 15px solid green;
  max-width: 50%;
  max-height: 100%;
  overflow: auto;
}

/* TODO: not sure if right... */
.location.single > * > .piece,
.location.fixed > * > .piece
{
  position: static !important;
}

.stackOverflow
{
  display: inline;
}

:not(.unfolded).piece .piece
{
  position: absolute;
  top: 25px !important;
  left: 25px !important;
}

.unfolded.piece .piece
{
  display: inline;
  position: static;
}

.faces
{
  display: inline-block;
  cursor: move;
}

.face.hidden
{
  display: none;
}

.piece
{
  display:inline-block;
  line-height: 0px;
  z-index: 2;
}

/* Prevent image selection */
img 
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* debug rules: */
.piece
{
  border: 3px solid black;
  border-style: outset;
}

:not(.unfolded).piece .piece
{
  border: 0px solid black;
}

.location.single
{
  border: 3px solid red;

}

.location.fixed
{
  border: 3px solid blue;

}

