.faces
{
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
}

.faces > .hidden
{
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
}

.pieces
{
  position: relative;
  top: 0px;
  left: 0px;
}

.piece
{
  display: block;
  cursor: move;
}

.location.free > .pieces > *
{
  position: absolute;
}

/*
.piece:active
{
  cursor: none !important; 
}
*/

.location
{
/*  position: relative; */
}
