.relativity
{
  position: relative;
}

.location
{
}

.face.hidden
{
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
}

.piece
{
  border: 3px solid black;
  border-style: outset;
  display: block;
  cursor: move;
  line-height: 0px;
}

.location.free > * > .piece
{
  position: absolute;
}

.location.single
{
  border: 3px solid red;

}
.location.single > * > .piece
{
  display:inline-block;
}
.location.fixed
{
  border: 3px solid blue;

}

.location.fixed > * > .piece
{
  display:inline-block;
}

